{% extends "common.html" %}
{% load static %}
{% block header %}
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="">Home</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Registration</li>
            </ul>
        </div>
    </section>
</div>

<!-- contact1 -->
<section class="w3l-contact-1 py-2" id="contact">
    <div class="contacts-9 py-lg-5 py-md-2">
        <div class="container">
            <div class="d-grid contact-view mb-5 pb-lg-5">
                <div class="cont-details">

                </div>
                <div class="map-content-9" class="text-center "style=" margin-left:-250px; width:100%">
                    <div class="contactct-fm map-content-9 pl-lg-2">
                        <div class="contactct-fm-text text-left">
                            <div class="header-title mb-md-5 mt-4">
                                <!-- <span class="sub-title"></span> -->
                                <h3 class="hny-title text-left"> Shop Registation</h3>
                            </div>

                        </div>
                        <form method="post" style="max-width:1000px;" enctype="multipart/form-data" >
                            {% csrf_token %} 
                            <div class="twice-two text-center"  >
                                <input type="text" class="form-control" name="fname" id="w3lName" placeholder="FullName" required="">
                                <input type="text" pattern="[789][0-9]{9}" maxlength="10" class="form-control" name="phone" id="w3lSender" placeholder="Phone Number" required="">
                            </div>
                            <div class="twice-two text-center"  >
                                <input type="email" class="form-control" name="email" id="w3lName" placeholder="Email" required="">
                                <input type="password" class="form-control" name="password" id="w3lSender" placeholder="Password" required="">
                            </div>
                            <div class="twice-two text-center"  >
                                <input type="file" class="form-control" name="file" id="w3lName" placeholder="Email" required="">
                            </div>
                            <!-- <div class="twice">
                                <input type="text" class="form-control" name="w3lSubject" id="w3lSubject" placeholder="Subject" required="">
                            </div>--> 
                            <textarea  class="form-control" name="address" id="w3lMessage" placeholder="Address" required=""></textarea> 
                            <div class="text-right">
                                <button type="submit" name="register" class="btn btn-primary btn-style mt-4">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
             </div>
</section>
<!-- /contact1 -->

{% endblock %}

